.welcome {
    font-size: 30px;
    font-weight: 600px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    color: #284dbd;
    border-bottom-style: solid;
    border-left-style: solid;
    border-left-width: 20px;
    background-color: lightgrey;
}
a {
    text-decoration:none;
    color:Black;
    background-color:Orange;

}
a:hover {
    color:#666666;
}
a:active {
    color:#AAAAAA;
}
